<div class="container mt-4">
    <div class="card">
            <div class="card-body clearfix">
                <span class="h3">Lista de Empleados</span>
                <button routerLink="/create-empleado" id="btnAgregar" class="btn btn-dark btn-lg">Agregar</button>
                <h5 style="margin-top:30px" *ngIf="empleados.length == 0">No hay datos para mostrar</h5>
                <table *ngIf="empleados.length > 0" class="table table-striped mt-5">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let empleado of empleados"> <!--Directiva ngFor para coger los datos de cada empleado del array-->
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.documento}}</td>
                        <td>{{empleado.salario | currency }}</td> <!--Utilizamos una Pipe para dar formato al salario-->
                        <td>
                            <i class="fas fa-user-edit fa-lg text-info mr-2" [routerLink]="['/editEmpleado/', empleado.id]"></i> <!--Es una forma de pasar los datos-->
                            <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash fa-lg text-danger"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
    </div>
</div>